// Fonts Families
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', sans-serif;

// Font-weights
$light: 300;
$regular: 400;
$black: 900;

// Font-Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;