// Mixin/funcion para cambiar las propiedades de una fuente y su espaciado
@mixin TF-Style ($FontFamily, $Weight, $Size, $LineHeight, $LetterSpacing) {
    font-family: $FontFamily; //tipo de fuente
    font-size: $Size;         //definicion del tamaño
    font-weight: $Weight;     //definicion del peso
    line-height: $LineHeight; //distancia entre lineas de texto
    letter-spacing: $LetterSpacing; // distancia entre letras
    @content;
}