// Color variables

//Gray Scale
$white: #FFFFFF;
$platinum: #E6E7E7;
$light_gray: #D1D1D1;
$nickel: #6C6E70;
$raisin_black: #222323;
$eerie_black: #121619;

//Red Scale
$spanish_pink: #ECBCBA;
$ruddy_pink: #D76C69;
$fuzzy_wuzzy: #E56353;

