// Color variables

//Gray Scale
$white: #FFFFFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
$nickel: #6C6E70;
$raisin-black: #222323;
$eerie-black: #121619;

//Red Scale
$spanish-pink: #ECBCBA;
$ruddy-pink: #D76C69;
$fuzzy-wuzzy: #E56353;

