@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap");
body {
  margin: 0;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #121619;
  height: 96px;
  padding-left: 6rem;
  padding-right: 10rem;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.navbar-nav .nav-link.active {
  color: #D76C69;
}

.main-title {
  height: 100vh;
  background-color: #D1D1D1;
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title__h1 {
  margin-top: auto;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.34285;
  letter-spacing: 0;
  font-style: italic;
  color: #FFFFFF;
  width: 661px;
}
.main-title__a {
  margin-top: auto;
  padding-bottom: 4.4375rem;
}
.main-title__a:link {
  color: #FFFFFF;
}
.main-title__a:visited {
  color: #FFFFFF;
}
.main-title__a:hover {
  color: #D1D1D1;
}
.main-title__a:active {
  color: #6C6E70;
}

.article {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  margin-top: 4.6875rem;
  margin-bottom: 4.6875rem;
}
.article__date {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.8125;
  letter-spacing: 0.035em;
  color: #6C6E70;
}
.article__content {
  margin-top: 4.125rem;
  margin-bottom: 4.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.8125;
  letter-spacing: 0.035em;
  color: #222323;
}
.article span {
  color: #D76C69;
}

.contact {
  display: flex;
  justify-content: center;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 3.625rem;
  padding-bottom: 5.75rem;
  border: 1px solid #6C6E70;
  margin: 0rem;
}
.contact__thumbnail {
  display: flex;
  justify-self: center;
  min-width: 131px;
  max-width: 177px;
}
.contact__thumbnail-img {
  border-radius: 100%;
}
.contact__socialmedias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.8125rem;
}
.contact__socialmedias h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0;
  font-style: italic;
  color: #121619;
}
.contact__socialmedias a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
}
.contact__socialmedias-links--instagram {
  margin-top: 0.375rem;
  margin-left: 0.1875rem;
  margin-bottom: 0.1875rem;
}
.contact__socialmedias-links--web {
  margin-left: 0.375rem;
}
.contact__aboutus {
  display: flex;
  align-self: center;
  padding-left: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.035em;
  color: #6C6E70;
}

nav {
  background-color: #E6E7E7;
}
nav ul {
  justify-content: center;
  margin-bottom: 0rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer {
  background-color: #121619;
  text-align: center;
  height: 206px;
  padding-top: 77px;
}
.footer img {
  width: 122px;
}

.btn-nickel {
  color: #fff;
  background-color: #6C6E70;
  border-color: #6C6E70;
  border-radius: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.btn-nickel--sm {
  padding: 0.375rem 1.25rem;
}
.btn-nickel--md {
  padding: 0.375rem 0.875rem;
}

.btn-nickel:hover {
  color: #fff;
  background-color: #D1D1D1;
  border-color: #D1D1D1;
}

.btn-check:focus + .btn-nickel, .btn-nickel:focus {
  color: #fff;
  background-color: #6C6E70;
  border-color: #D1D1D1;
  box-shadow: 0 0 0 0.25rem #D1D1D1;
}

.btn-check:checked + .btn-nickel, .btn-check:active + .btn-nickel, .btn-nickel:active, .btn-nickel.active, .show > .btn-nickel.dropdown-toggle {
  color: #fff;
  background-color: #D1D1D1;
  border-color: #D1D1D1;
}

.btn-check:checked + .btn-nickel:focus, .btn-check:active + .btn-nickel:focus, .btn-nickel:active:focus, .btn-nickel.active:focus, .show > .btn-nickel.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #D1D1D1;
}

a.contact__socialmedias-links--primary {
  text-decoration: none;
  color: #D76C69;
}
a.contact__socialmedias-links--primary:hover {
  color: #222323;
}
a.contact__socialmedias-links--primary:active {
  color: #E6E7E7;
}
a.contact__socialmedias-links--secondary {
  text-decoration: none;
  color: #222323;
}
a.contact__socialmedias-links--secondary:hover {
  color: #D1D1D1;
}
a.contact__socialmedias-links--secondary:active {
  color: #6C6E70;
}
a.contact__socialmedias-links--light {
  text-decoration: none;
  color: #D1D1D1;
}
a.contact__socialmedias-links--light:hover {
  color: #6C6E70;
}
a.contact__socialmedias-links--light:active {
  color: #E6E7E7;
}
a.contact__socialmedias-links--dark {
  text-decoration: none;
  color: #121619;
}
a.contact__socialmedias-links--dark:hover {
  color: #222323;
}
a.contact__socialmedias-links--dark:active {
  color: #6C6E70;
}

.page-link {
  color: #121619;
}

.page-link:hover {
  z-index: 2;
  color: #FFFFFF;
  background-color: #D1D1D1;
  border-color: #D1D1D1;
}

.page-link:focus {
  z-index: 4;
  color: #FFFFFF;
  background-color: #6C6E70;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #D1D1D1;
}

.page-item.active .page-link {
  z-index: 3;
  color: #FFFFFF;
  background-color: #6C6E70;
  border-color: #6C6E70;
}

.page-item:first-child .page-link {
  border-top-left-radius: 1.1875rem;
  border-bottom-left-radius: 1.1875rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 1.1875rem;
  border-bottom-right-radius: 1.1875rem;
}

/*# sourceMappingURL=style.css.map */
