.article {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    margin-top: 3.125rem;
    margin-bottom: 4.5rem;
    &__date {
        @include TF-Style ($playfair-display--ss, $regular, $medium, normal, 0.021em) {
            color: $nickel;
        }
    }
    &__content {
        margin-top: 3.125rem;
        margin-bottom: 3.75rem;
        @include TF-Style ($roboto, $light, $medium, 2.8125, 0.035em) {
            color: $raisin-black;
        }
    }
    span {
        color: $ruddy-pink;
    }
}
.btn-align {
    text-align: center;
}
@media (min-width: 768px) {
    .article {
        margin-left: 6.25rem;
        margin-right: 6.25rem;
        margin-top: 4.6875rem;
        margin-bottom: 4.6875rem;
        &__date {
            @include TF-Style ($playfair-display--ss, $regular, $large, 2.8125, 0.035em) {
                color: $nickel;
            }
        }
        &__content {
            margin-top: 4.125rem;
            margin-bottom: 4.75rem;
        }
    }
    .btn-align {
        text-align: left;
    }
}