.main-header {
    height: 100vh;
    background-color: $light-gray;
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__h1 {
        margin-top: auto;
        @include TF-Style($playfair-display--s, $black, $xx-large, 1.34285, 0) {
            font-style: italic;
            color: $white;
        }
        width: 661px;
    }
    
    &__a {
        margin-top: auto;
        padding-bottom: 4.4375rem;
        // unvisited link
        &:link {
            color: $white;
        }
        // visited link
        &:visited {
            color: $white;
        }
        // mouse over link
        &:hover {
            color: $light-gray;
        }
        // selected link
        &:active {
            color: $nickel;
        }
    }
}

