.main-title {
    height: 100vh;
    background-color: $light-gray;
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__h1 {
        margin-top: auto;
        text-align: center;
        @include TF-Style ($playfair-display--s, $black, 40px, 1.325, 0) {
            font-style: italic;
            color: $white;
            width: 76.08695vw;
        }
    }
    &__a {
        margin-top: auto;
        padding-bottom: 3.163rem;
        // unvisited link
        &:link {
            color: $white;
        }
        // visited link
        &:visited {
            color: $white;
        }
        // mouse over link
        &:hover {
            color: $light-gray;
        }
        // selected link
        &:active {
            color: $nickel;
        }
    }
}
@media (min-width: 768px) {
    .main-title {
        &__h1 {
            margin-top: auto;
            text-align: center;
            @include TF-Style ($playfair-display--s, $black, $xx-large, 1.34285, 0) {
                font-style: italic;
                color: $white;
            }
            width: 51.4vw;
        }
        &__a {
            padding-bottom: 4.4375rem;
        }
    }
}